</main>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<a href="/"><img src="img/logo.png" alt="" class="logo-site"></a>
			</div>

			<div class="col-4">
				<div class="footer__contact">
					<a href="tel:+78005005059" class="footer__phone">8-800-500-50-59</a>
					<div class="header__address">г. Москва, ул. Скобелева, 15</div>
				</div>
			</div>

			<div class="col-4">
				<div class="footer__copyright-wrap">
					<a href="#" class="footer__polit">Пользовательское соглашение</a>
					<div class="footer__copyright">ServiceLot 2018 © Все права защищены</div>
				</div>
			</div>
		</div>
	</div>
</footer>