//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Proxima Nova', Arial, sans-serif;

// Site
$color-text: #222;
$color-green: #25a537;
$color-green-text: #24a035;
$color-grey: #eeeeee;