<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p><a href="main.html">Главная страница</a></p>
						<p><a href="sale.html">Как осуществляется комиссионная продажа на ServiceLoT.ru</a></p>
						<p><a href="auction.html">Как проходят торги на ServiceLoT.ru</a></p>
						<p><a href="contacts.html">Контакты</a></p>
						<p><a href="online-mark.html">Онлайн оценка</a></p>
						<p><a href="index.html">Типографика</a></p>
					</div>
				</div>
			</div>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
