<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
				<section class="catalog-list">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>

							<div class="col-3">
								<a href="#" class="catalog-list__item">
									<div class="catalog-list__img" style="background-image: url(img/catalog-list.jpg);"></div>

									<div class="catalog-list__name">Смартфон Apple iPhone XS Max 256 Gb Space Gray</div>
									<div class="catalog-list__price">59 999 руб</div>
								</a>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<div class="pager">
									<a href="#" class="pager__prev"></a>
									<a href="#" class="pager__item">1</a>
									<a href="#" class="pager__item current">2</a>
									<a href="#" class="pager__item">3</a>
									<a href="#" class="pager__item">...</a>
									<a href="#" class="pager__item">32</a>
									<a href="#" class="pager__next"></a>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end catalog-list -->
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
