<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Онлайн оценка</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h1>Онлайн оценка</h1>
						</div>
					</div>
				</div>

				<section class="online-mark">
					<form method="get" class="form-site form-site--column hhhs js-valid-form">
						<div class="container">
							<div class="row">
								<div class="col-4">
									<input type="text" placeholder="Ваше имя" class="js-name" data-required="true" title = "Введите имя русскими буквами">
									<input type="email" placeholder="Email" data-required="true">
									<input type="text" placeholder="Номер телефона" class="js-phone" data-required="true">

									<label class="file-upload">
										<input type="file" name="file" class="js-input-file">
										<span class="file-upload__btn">Выберите файл</span>
										<span class="file-upload__name js-name-file">Файл не выбран</span>
									</label>
								</div>

								<div class="col-8">
									<textarea placeholder="Описание лота"></textarea>

									<div class="form-site__polit">
										<div class="input-check">
											<input type="checkbox" id="checkbox1" checked="checked">
											<label for="checkbox1" class="input-check__label"><span class="input-check__mark"></span>Отправляя заявку на оценку, я выражаю согласие на <a href="#">обработку своих персональных данных</a></label>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<input type="submit" value="Отправить заявку" class="btn btn--mail">
								</div>
							</div>
						</div>
					</form>
				</section>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
