<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Как проходят торги на ServiceLoT.ru</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-xl-6">
							<div class="product-slider">
								<div class="product-slide-thumb js-product-slide-thumb">
									<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img1.png);"></div>
									<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img2.png);"></div>
									<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img3.png);"></div>
									<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img4.png);"></div>
									<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img5.png);"></div>
									<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img6.png);"></div>
									<div class="product-slide-thumb__item" style="background-image: url(img/product-slider-img7.png);"></div>
								</div>

								<div class="product-slide-img js-product-slide-img">
									<div class="product-slide-img__item" style="background-image: url(img/product-slider-img1.png);"></div>
									<div class="product-slide-img__item" style="background-image: url(img/product-slider-img2.png);"></div>
									<div class="product-slide-img__item" style="background-image: url(img/product-slider-img3.png);"></div>
									<div class="product-slide-img__item" style="background-image: url(img/product-slider-img4.png);"></div>
									<div class="product-slide-img__item" style="background-image: url(img/product-slider-img5.png);"></div>
									<div class="product-slide-img__item" style="background-image: url(img/product-slider-img6.png);"></div>
									<div class="product-slide-img__item" style="background-image: url(img/product-slider-img7.png);"></div>
								</div>
							</div>
						</div>

						<div class="col-lg-5 col-xl-6">
							<div class="product-info">
								<h1>Смартфон Apple iPhone XS Max 256 Gb Space Gray</h1>

								<div class="product-info__price">59 999 &#8381;</div>

								<div class="product-info__guarantee"><span class="product-info__guarantee-title">Гарантия:</span> 30 дней</div>

								<div class="product-info__text">
									<p>iPhone XS Max имеет самый большой формфактор в линейке смартфонов Apple. Оснащенный невероятно ярким и контрастным дисплеем, смартфон обеспечивает объемную, детализированную, буквально «живую» картинку.</p>

									<p>Технология True Tone позволит вам по достоинству оценить улучшенную цветопередачу и контрастность. Будь то игра, видео или фотоматериалы, глядя на экран, вы очутитесь практически в центре событий. Все это стало возможно благодаря Super Retina – дисплею, изготовленному по технологии OLED. 6,5 – дюймовый дисплей имеет разрешение 2436 × 1125 и поддерживает невероятно высокую плотность пикселей в 458 ppi.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
