<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Типографика</title>
	//= ../header/header-link.html
	</head>

	<body>
		<div class="wrapper">
			//= ../header/header.html
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p><a href="#">Это стандартная ссылка</a></p>

							<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

							<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>

							<br>
							<br>
							<div class="h2">Доп. классы для текста </div>
							<p><span class="code">h-text-left</span> Выравнивание текста по левому краю</p>
							<p><span class="code">h-text-center</span> Выравнивание текста по центру</p>
							<p><span class="code">h-text-right</span> Выравнивание текста по правому краю</p>
							<p><span class="code">h-text-justify</span> Выравнивание текста по ширине</p>
							<p><span class="code">h-text-uppercase</span> Все символы текста становятся прописными (верхний регистр)</p>
							<p><span class="code">h-text-bold</span> Жирный текст</p>

							<br>
							<br>
							<div class="h2">Заголовки</div>
							<h1>Заголовок - h1</h1>
							<h2>Заголовок - h2</h2>
							<h3>Заголовок - h3</h3>
							<h4>Заголовок - h4</h4>
							<h5>Заголовок - h5</h5>
							<h6>Заголовок - h6</h6>

							<br>
							<p class="h1">Это класс с названием h1</p>
							<p class="h2">Это класс с названием h2</p>
							<p class="h3">Это класс с названием h3</p>
							<p class="h4">Это класс с названием h4</p>
							<p class="h5">Это класс с названием h5</p>
							<p class="h6">Это класс с названием h6</p>

							<br>
							<br>
							<br>
							<div class="h2">Кнопки</div>
							<a href="#" class="btn">Кнопка</a>

							<br>
							<br>
							<div class="h2">Нестандартный выпадающий список</div>
							<select data-placeholder="Категория" class="js-select" class="select-green">
								<option value=""></option>
								<option value="Бытовая техника">Бытовая техника</option>
								<option value="Серебро">Серебро</option>
								<option value="Золото">Золото</option>
							</select>
							<br>
							<br>
							<select class="js-select" class="select-green">
								<!-- <option value=""></option> -->
								<option value="Audi">Санкт-Петербург</option>
								<option value="BMW">Москва</option>
								<option value="Ford">Брянск</option>
							</select>
						</div>
					</div>
				</div>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
